.holdList{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 75vh;
    padding: 0;
    list-style: none;
}

.icons  {
    font-size: 45px;
    background-color: gray;
    padding: 10px;
    border-radius: 50px;
    color: #4c4b4b;
    margin-top: 30px;
}

.icons:hover  {
    font-size: 45px;
    background-color: #ffb400;
    padding: 10px;
    border-radius: 50px;
    color: white;
    transition: .5s;
}

.icons2  {
    font-size: 45px;
    background-color: #ffb400;
    padding: 10px;
    border-radius: 50px;
    color: white;
    margin-top: 30px;
}